.disclaimer {
    position: absolute;
    bottom: 0;
}

.sidebar {
    padding: 8px 0;
    background-color: lightblue;
    position: fixed;
    width: 130px;
    top: 20px;
    right: 0;
    overflow-x: hidden;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
}